In [80]:
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [81]:
applicant_data_df = pd.read_csv(Path("applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [82]:
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [83]:
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME", "APPLICATION_TYPE", "USE_CASE", 
"AFFILIATION", "ORGANIZATION"])

# Review the DataFrame
applicant_data_df

,CLASSIFICATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,C1000,1,0,N,5000,1
1,C2000,1,1-9999,N,108590,1
2,C3000,1,0,N,5000,0
3,C2000,1,10000-24999,N,6692,1
4,C1000,1,100000-499999,N,142590,1
...,...,...,...,...,...,...
34294,C1000,1,0,N,5000,0
34295,C3000,1,0,N,5000,0
34296,C2000,1,0,N,5000,0
34297,C3000,1,0,N,5000,1
34298,C1000,1,1M-5M,N,36500179,0

In [84]:
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
# Display the categorical variables list
categorical_variables

['CLASSIFICATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [85]:
enc = OneHotEncoder(sparse=False)

In [86]:
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

array([[0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [87]:
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,CLASSIFICATION_C1234,CLASSIFICATION_C1235,CLASSIFICATION_C1236,CLASSIFICATION_C1237,CLASSIFICATION_C1238,CLASSIFICATION_C1240,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [88]:
encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,CLASSIFICATION_C1234,CLASSIFICATION_C1235,CLASSIFICATION_C1236,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [89]:
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[0:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [90]:
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,CLASSIFICATION_C0,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1230,CLASSIFICATION_C1234,CLASSIFICATION_C1235,CLASSIFICATION_C1236,CLASSIFICATION_C1237,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [92]:
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [93]:
number_input_features = 84

# Review the number of features
number_input_features

84

In [94]:
number_output_neurons = 1

In [95]:
hidden_nodes_layer1 =  100

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

100

In [96]:
hidden_nodes_layer2 =  80

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

80

In [97]:
nn_A4 = Sequential()

In [98]:
nn_A4.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [99]:
nn_A4.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [100]:
nn_A4.add(Dense(units=1, activation="sigmoid"))

In [101]:
nn_A4.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 100)               8500
_________________________________________________________________
dense_12 (Dense)             (None, 80)                8080
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 81
=================================================================
Total params: 16,661
Trainable params: 16,661
Non-trainable params: 0
_________________________________________________________________

In [102]:
nn_A4.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [103]:
nn_A4.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6712 - accuracy: 0.5829
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6611 - accuracy: 0.5898
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6605 - accuracy: 0.5897
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6592 - accuracy: 0.5901
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6584 - accuracy: 0.5909
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6585 - accuracy: 0.5913
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6577 - accuracy: 0.5919
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6578 - accuracy: 0.5920
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6575 - accuracy: 0.5926
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6573 - accuracy: 0.5918
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6571 - accuracy: 0.5931
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6569 - accuracy: 0.5919
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6567 - accuracy: 0.5923
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6567 - accuracy: 0.5930
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6565 - accuracy: 0.5921
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6569 - accuracy: 0.5916
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6564 - accuracy: 0.5931
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6562 - accuracy: 0.5931
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.5923
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6562 - accuracy: 0.5931
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6559 - accuracy: 0.5935
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6560 - accuracy: 0.5928
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6559 - accuracy: 0.5929
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6557 - accuracy: 0.5940
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6558 - accuracy: 0.5932
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6558 - accuracy: 0.5921
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6558 - accuracy: 0.5928
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6554 - accuracy: 0.5932
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6556 - accuracy: 0.5932
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6554 - accuracy: 0.5935
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6552 - accuracy: 0.5932
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6554 - accuracy: 0.5931
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6555 - accuracy: 0.5928
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6553 - accuracy: 0.5935
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6551 - accuracy: 0.5937
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6553 - accuracy: 0.5935
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6554 - accuracy: 0.5929
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6552 - accuracy: 0.5934
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6550 - accuracy: 0.5929
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6548 - accuracy: 0.5925
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6552 - accuracy: 0.5940
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6552 - accuracy: 0.5940
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6548 - accuracy: 0.5934
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6551 - accuracy: 0.5929
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6548 - accuracy: 0.5938
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.5933
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6546 - accuracy: 0.5936
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.5938
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.5933
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6548 - accuracy: 0.5933

In [104]:
model_loss, model_accuracy = nn_A4.evaluate(X_train_scaled, y_train, verbose=2)

804/804 - 0s - loss: 0.6531 - accuracy: 0.5940