# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [67]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [68]:
""" importing data from csv """
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [69]:
""" reviewing data types for encoding """
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [70]:
""" dropping unnecessary colums """
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [71]:
""" creating categorical variables for encoding """
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [72]:
""" creating OneHotEncoder to encode the data """
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [73]:
""" encoding the data using OneHotEncoder"""
# Encode the categorcal variables using OneHotEncoder

encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [74]:
""" creating a data frame to hold the encoded variables """
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [75]:
""" concatinating the data with the numercial values in the original data frame """
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [76]:
""" defining y variable to run the model"""
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[0:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [77]:
""" defining the X variable to hold the data for the model"""

# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [78]:
""" splitting the data into train and test data"""
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [79]:
""" creating a scaler instance, fitting and transforming to scale the data for better analysis"""
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [80]:
""" defining the input data according to the number of columns in the X dataframe"""
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [81]:
""" defining 1 neuron to hold the predicted data"""
# Define the number of neurons in the output layer
number_output_neurons = 1

In [82]:
""" defining hidden layers in the neurons for better prediction
using 2 layers in one hidden node"""
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  30

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

30

In [83]:
""" defining hidden nodes in layer 2"""
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [84]:
""" creating the model using Sequential"""
# Create the Sequential model instance
nn_2 = Sequential()

In [85]:
""" adding the first hiddne layer """
# Add the first hidden layer
nn_2.add(Dense(units=30, input_dim=116, activation="relu"))

In [86]:
""" adding the second hidden layer"""
# Add the second hidden layer
nn_2.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [87]:
""" adding the output layer using the sigmoid activation function for binary"""
# Add the output layer to the model specifying the number of output neurons and activation function
nn_2.add(Dense(units=1, activation="sigmoid"))

In [88]:
""" displaying the model summary"""
# Display the Sequential model summary
nn_2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 30)                3510
_________________________________________________________________
dense_7 (Dense)              (None, 8)                 248
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 9
=================================================================
Total params: 3,767
Trainable params: 3,767
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [89]:
""" compiling model nn_2"""
# Compile the Sequential model
nn_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [91]:
""" fitting model nn_2"""
# Fit the model using 50 epochs and the training data
nn_2.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5950 - accuracy: 0.7087 - val_loss: 0.5643 - val_accuracy: 0.7319
Epoch 2/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7235 - val_loss: 0.5619 - val_accuracy: 0.7332
Epoch 3/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7264 - val_loss: 0.5589 - val_accuracy: 0.7356
Epoch 4/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7286 - val_loss: 0.5612 - val_accuracy: 0.7361
Epoch 5/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7278 - val_loss: 0.5625 - val_accuracy: 0.7349
Epoch 6/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7285 - val_loss: 0.5617 - val_accuracy: 0.7341
Epoch 7/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7288 - val_loss: 0.5608 - val_accuracy: 0.7368
Epoch 8/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7306 - val_loss: 0.5593 - val_accuracy: 0.7378
Epoch 9/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7304 - val_loss: 0.5586 - val_accuracy: 0.7375
Epoch 10/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7321 - val_loss: 0.5585 - val_accuracy: 0.7378
Epoch 11/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7316 - val_loss: 0.5633 - val_accuracy: 0.7357
Epoch 12/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7317 - val_loss: 0.5599 - val_accuracy: 0.7359
Epoch 13/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7333 - val_loss: 0.5603 - val_accuracy: 0.7374
Epoch 14/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7327 - val_loss: 0.5610 - val_accuracy: 0.7371
Epoch 15/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7323 - val_loss: 0.5600 - val_accuracy: 0.7367
Epoch 16/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7347 - val_loss: 0.5642 - val_accuracy: 0.7358
Epoch 17/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7346 - val_loss: 0.5628 - val_accuracy: 0.7371
Epoch 18/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7344 - val_loss: 0.5627 - val_accuracy: 0.7371
Epoch 19/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7350 - val_loss: 0.5649 - val_accuracy: 0.7356
Epoch 20/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7359 - val_loss: 0.5646 - val_accuracy: 0.7371
Epoch 21/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7354 - val_loss: 0.5637 - val_accuracy: 0.7378
Epoch 22/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7355 - val_loss: 0.5633 - val_accuracy: 0.7383
Epoch 23/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7354 - val_loss: 0.5622 - val_accuracy: 0.7367
Epoch 24/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7349 - val_loss: 0.5646 - val_accuracy: 0.7372
Epoch 25/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7358 - val_loss: 0.5669 - val_accuracy: 0.7343
Epoch 26/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7363 - val_loss: 0.5651 - val_accuracy: 0.7363
Epoch 27/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7359 - val_loss: 0.5623 - val_accuracy: 0.7371
Epoch 28/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7357 - val_loss: 0.5651 - val_accuracy: 0.7370
Epoch 29/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7366 - val_loss: 0.5624 - val_accuracy: 0.7381
Epoch 30/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7368 - val_loss: 0.5617 - val_accuracy: 0.7385
Epoch 31/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7366 - val_loss: 0.5614 - val_accuracy: 0.7391
Epoch 32/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7355 - val_loss: 0.5647 - val_accuracy: 0.7380
Epoch 33/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7358 - val_loss: 0.5682 - val_accuracy: 0.7354
Epoch 34/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7368 - val_loss: 0.5675 - val_accuracy: 0.7359
Epoch 35/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7364 - val_loss: 0.5657 - val_accuracy: 0.7374
Epoch 36/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7369 - val_loss: 0.5678 - val_accuracy: 0.7357
Epoch 37/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7366 - val_loss: 0.5644 - val_accuracy: 0.7376
Epoch 38/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7367 - val_loss: 0.5636 - val_accuracy: 0.7378
Epoch 39/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7357 - val_loss: 0.5613 - val_accuracy: 0.7388
Epoch 40/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7368 - val_loss: 0.5644 - val_accuracy: 0.7359
Epoch 41/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7363 - val_loss: 0.5623 - val_accuracy: 0.7401
Epoch 42/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7364 - val_loss: 0.5643 - val_accuracy: 0.7392
Epoch 43/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7375 - val_loss: 0.5650 - val_accuracy: 0.7374
Epoch 44/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7383 - val_loss: 0.5674 - val_accuracy: 0.7356
Epoch 45/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7366 - val_loss: 0.5676 - val_accuracy: 0.7378
Epoch 46/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7373 - val_loss: 0.5611 - val_accuracy: 0.7387
Epoch 47/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7365 - val_loss: 0.5637 - val_accuracy: 0.7383
Epoch 48/50
563/563 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7375 - val_loss: 0.5646 - val_accuracy: 0.7387
Epoch 49/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7378 - val_loss: 0.5637 - val_accuracy: 0.7379
Epoch 50/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7381 - val_loss: 0.5616 - val_accuracy: 0.7378

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [92]:
""" evaluating the model for loss and accuracy of predictions"""
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_2.evaluate(X_train_scaled, y_train, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

804/804 - 0s - loss: 0.5405 - accuracy: 0.7385
Loss: 0.5404906272888184, Accuracy: 0.7385321259498596

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [93]:
""" saving the model weights to .h5 file"""
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn_2.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [94]:
""" optimizing model 2 importing the input features using len function"""
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [95]:
""" defining the output layer """
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [96]:
""" defining hidden nodes layer 1"""
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 50

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

50

In [97]:
""" creating Sequential instance"""
# Create the Sequential model instance
nn_A1 = Sequential()

In [98]:
""" defining the 1 hidden layer, output layer and creating a model summary """
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=116, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 50)                5850
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 51
=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [99]:
""" compiling the model"""
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [120]:
""" fitting the model"""
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, validation_split=0.3, epochs=45)

Epoch 1/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7343 - val_loss: 0.5685 - val_accuracy: 0.7348
Epoch 2/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7344 - val_loss: 0.5696 - val_accuracy: 0.7314
Epoch 3/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7340 - val_loss: 0.5653 - val_accuracy: 0.7349
Epoch 4/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7351 - val_loss: 0.5616 - val_accuracy: 0.7376
Epoch 5/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7363 - val_loss: 0.5684 - val_accuracy: 0.7354
Epoch 6/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7358 - val_loss: 0.5619 - val_accuracy: 0.7379
Epoch 7/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7353 - val_loss: 0.5650 - val_accuracy: 0.7345
Epoch 8/45
563/563 [==============================] - 1s 3ms/step - loss: 0.5383 - accuracy: 0.7346 - val_loss: 0.5696 - val_accuracy: 0.7334
Epoch 9/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7351 - val_loss: 0.5668 - val_accuracy: 0.7336
Epoch 10/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7368 - val_loss: 0.5623 - val_accuracy: 0.7362
Epoch 11/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7364 - val_loss: 0.5682 - val_accuracy: 0.7344
Epoch 12/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7338 - val_loss: 0.5620 - val_accuracy: 0.7357
Epoch 13/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7358 - val_loss: 0.5680 - val_accuracy: 0.7348
Epoch 14/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7366 - val_loss: 0.5671 - val_accuracy: 0.7362
Epoch 15/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7365 - val_loss: 0.5696 - val_accuracy: 0.7344
Epoch 16/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7371 - val_loss: 0.5658 - val_accuracy: 0.7336
Epoch 17/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7355 - val_loss: 0.5648 - val_accuracy: 0.7354
Epoch 18/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7370 - val_loss: 0.5690 - val_accuracy: 0.7353
Epoch 19/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7356 - val_loss: 0.5702 - val_accuracy: 0.7343
Epoch 20/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7361 - val_loss: 0.5742 - val_accuracy: 0.7363
Epoch 21/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7368 - val_loss: 0.5761 - val_accuracy: 0.7293
Epoch 22/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7353 - val_loss: 0.5740 - val_accuracy: 0.7335
Epoch 23/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7359 - val_loss: 0.5772 - val_accuracy: 0.7304
Epoch 24/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7343 - val_loss: 0.5714 - val_accuracy: 0.7331
Epoch 25/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7354 - val_loss: 0.5716 - val_accuracy: 0.7357
Epoch 26/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7381 - val_loss: 0.5770 - val_accuracy: 0.7348
Epoch 27/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7355 - val_loss: 0.5695 - val_accuracy: 0.7336
Epoch 28/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7360 - val_loss: 0.5765 - val_accuracy: 0.7367
Epoch 29/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7361 - val_loss: 0.5817 - val_accuracy: 0.7374
Epoch 30/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7370 - val_loss: 0.5779 - val_accuracy: 0.7381
Epoch 31/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7361 - val_loss: 0.5795 - val_accuracy: 0.7331
Epoch 32/45
563/563 [==============================] - 1s 3ms/step - loss: 0.5370 - accuracy: 0.7363 - val_loss: 0.5877 - val_accuracy: 0.7343
Epoch 33/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7379 - val_loss: 0.5818 - val_accuracy: 0.7324
Epoch 34/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7369 - val_loss: 0.5912 - val_accuracy: 0.7332
Epoch 35/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7369 - val_loss: 0.5865 - val_accuracy: 0.7306
Epoch 36/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7358 - val_loss: 0.5931 - val_accuracy: 0.7346
Epoch 37/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7376 - val_loss: 0.5924 - val_accuracy: 0.7343
Epoch 38/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7378 - val_loss: 0.6061 - val_accuracy: 0.7341
Epoch 39/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7355 - val_loss: 0.6070 - val_accuracy: 0.7346
Epoch 40/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7368 - val_loss: 0.5728 - val_accuracy: 0.7339
Epoch 41/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7361 - val_loss: 0.5809 - val_accuracy: 0.7340
Epoch 42/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7374 - val_loss: 0.5809 - val_accuracy: 0.7341
Epoch 43/45
563/563 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7373 - val_loss: 0.5866 - val_accuracy: 0.7335
Epoch 44/45
563/563 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7365 - val_loss: 0.5915 - val_accuracy: 0.7278
Epoch 45/45
563/563 [==============================] - 1s 3ms/step - loss: 0.5363 - accuracy: 0.7370 - val_loss: 0.5921 - val_accuracy: 0.7353

#### Alternative Model 2

In [108]:
""" defining input layers of model 3 using the len function """
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [111]:
""" defining output layers to predict y"""
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [112]:
""" defining number of hidden nodes for model 3"""
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 200

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

200

In [113]:
""" creating a Sequential instace for model 3"""
# Create the Sequential model instance
nn_A2 = Sequential()

In [114]:
""" adding first hidden layer"""
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_13 (Dense)             (None, 200)               23400
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 201
=================================================================
Total params: 23,601
Trainable params: 23,601
Non-trainable params: 0
_________________________________________________________________

In [115]:
""" compiling model 3"""
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [116]:
""" fitting model 3 using 100 epochs"""
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 1.8314 - accuracy: 0.6622
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 2.2162 - accuracy: 0.6688
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 1.7830 - accuracy: 0.6875
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 1.7600 - accuracy: 0.7008
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7661 - accuracy: 0.7034
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 2.2619 - accuracy: 0.6665
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 2.3674 - accuracy: 0.6580
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 2.3168 - accuracy: 0.6623
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.9645 - accuracy: 0.6761
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 2.0535 - accuracy: 0.6790
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 1.8946 - accuracy: 0.6964
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 1.8464 - accuracy: 0.6966
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 1.7159 - accuracy: 0.6968
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 1.8342 - accuracy: 0.6853
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 2.1977 - accuracy: 0.6744
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 1.8558 - accuracy: 0.6828
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7019 - accuracy: 0.6963
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6876 - accuracy: 0.6970
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 1.6081 - accuracy: 0.7025
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5633 - accuracy: 0.7016
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7423 - accuracy: 0.6908
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6155 - accuracy: 0.7008
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 1.6023 - accuracy: 0.6879
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5554 - accuracy: 0.7032
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5360 - accuracy: 0.6976
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3870 - accuracy: 0.7149
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 1.5516 - accuracy: 0.6957
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3950 - accuracy: 0.7016
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1227 - accuracy: 0.7257
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1084 - accuracy: 0.7203
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 1.0830 - accuracy: 0.7227
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1084 - accuracy: 0.7247
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 1.4048 - accuracy: 0.7097
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4326 - accuracy: 0.7062
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 1.5108 - accuracy: 0.6980
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2824 - accuracy: 0.7149
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2678 - accuracy: 0.7243
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2660 - accuracy: 0.7240
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2330 - accuracy: 0.7263
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1813 - accuracy: 0.7177
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 1.2930 - accuracy: 0.7105
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2152 - accuracy: 0.6987
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0914 - accuracy: 0.7266
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0825 - accuracy: 0.7282
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1795 - accuracy: 0.7106
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0774 - accuracy: 0.7160
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1351 - accuracy: 0.7145
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1480 - accuracy: 0.7208
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1240 - accuracy: 0.7194
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1049 - accuracy: 0.7207

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
""" printing the accuracy report for all 3 models"""
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_2.evaluate(X_train_scaled, y_train, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
804/804 - 0s - loss: 0.5399 - accuracy: 0.7385
Loss: 0.5398823618888855, Accuracy: 0.7384543418884277

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_train_scaled, y_train, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
804/804 - 0s - loss: 0.5425 - accuracy: 0.7368
Loss: 0.5425061583518982, Accuracy: 0.7368216514587402

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_train_scaled, y_train, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
804/804 - 0s - loss: 0.5395 - accuracy: 0.7385
Loss: 0.5394801497459412, Accuracy: 0.7384543418884277

### Step 3: Save each of your alternative models as an HDF5 file.

In [118]:
""" saving the model weights of all 3 models to .h5 files """
# Set the file path for the first alternative model

# Export your model to a HDF5 file

file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [119]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)